.container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.navbar-container{
    display: block;
    
}

.navbar-container a:hover {
    background-color: #ddd;
    color: black;
}